@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.PostViewModel>
@using System.Collections.Generic
@{
    Layout = "default.cshtml";
    ViewBag.Title = @Model.Title + " - Michael Whelan - behaviour driven blog";
}

<div id="post">
    <h1 class="blog-post-title">@Model.Title</h1>

    <div class="blog-post-meta">
        posted on @Model.PostDate.ToString("dd MMM yyyy")
        @foreach (var category in Model.Categories)
        {
            @:| <a class="label label-primary" href="/category/@category.Url">@category.Name</a>
        }
    </div>

    <div class="blog-post">
        @Html.RenderSeries()

        @Html.Raw(Model.PostContent)
    </div>
    
    <div class="blog-post aboutFooter">
        <h3>About Michael Whelan</h3>
        <img style="float:left;padding-right: 1em;" src="http://www.gravatar.com/avatar/391e4f217a06e3dfc8976a4b99b79617.png">
        <p>
            Michael Whelan is a software developer with 20 years’ experience in building (and testing!) applications on the Microsoft stack. He is passionate about applying agile development practices, such as TDD and BDD, to agile processes. Michael specializes in ASP.Net MVC but has also worked with WPF. He does open source development with <a href="http://www.teststack.net/">TestStack</a> to learn from great developers. Michael is a Principal Consultant at <a href="http://www.bjss.com/">BJSS</a> in London.
        </p>
    </div>
    
    <!-- Add this toolbox-->
    <div class="row addThis">
        <div class="addthis_toolbox addthis_default_style row pull-right" style="margin:10px">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
            <a class="addthis_button_linkedin_counter"></a>
            <a class="addthis_counter addthis_pill_style"></a>
        </div>
    </div>
    
    <!-- Disqus Comments -->
    <div class="row">
        @Html.RenderDisqusComments("givenwhenthen")        
    </div>
    
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53d54a0e28fe9235"></script>

    <!-- Authorship Google -->
    <a style="display: block; width: 30px; height: 30px; text-indent: -999px; text-decoration: none" href="https://plus.google.com/u/1/105055485720815974241?rel=author">Google</a>
</div>
